<div class="message_box clearfix user_id_<%= message.user.id %>">
    <p class="message_user_name"><%= message.user.name %></p>
    <div class="message"><%= message_escape(message.content) %></div>
</div>
