<% if logged_in? %>
    <h3 class="subtitle02 mt"><i class="fa fa-th-list" aria-hidden="true"></i>すべての投稿</h3>
    <%= render 'article_list', articles: @articles, ranking_good_counts: @ranking_good_counts %>
    <%= paginate @articles %>
<% end %>