<div class="movie_detail clearfix">
  <picture>
    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%= @movie['poster_path'] %>" alt="">
  </picture>
  <div class="movie_detail_info">
    <h3 class="movie_detail_title"><%= @movie['title'] %></h3>
    <p><%= @movie['overview'] %></p>
  </div>
</div>
<p><%= link_to '記事を書く', new_article_path(@movie), class: 'btn btn-default pull-right' %>