@charset "utf-8";

/*
 *= require jquery-ui
 */

/* Style Overwrite */
.navbar-fixed-top{
  z-index: 8!important;
}
.editor-toolbar.fullscreen{
  z-index: 30!important;
}

/* body */
body {
  background: #f2f2f2;
}

footer {
  margin-top: 20px;
}

/* navbar */
.navbar {
  background-color: #fff;
}

.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* cover */
.cover {
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  background: #000;
  background-size: cover;
}

.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}

.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #eee;
  letter-spacing: 0.15em;
}

.movies {
  width: 100%;
}

.movie_item {
  width: 48%;
  float: left;
  margin-right: 4%;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #FFF;
  border: 1px solid #DCDCDC;
}

.movie_item .movie_item_img {
  width: 185px;
  float: left;
}

.movie_item .movie_item_info {
  width: calc(100% - 185px);
  float: right;
  box-sizing: border-box;
  padding: 0 20px;
}

.movie_item_info p {
  font-size: 14px;
  line-height: 1.3;
}

.movie_item:nth-child(even) {
  margin-right: 0;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.movie_detail {
  width: 100%;
  margin-bottom: 30px;
  background: #000;
  padding: 20px 0 40px 0;
}

.movie_detail h1 {
  color: #ddd;
  margin-bottom: 20px;
}

.movie_detail_inner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.movie_detail .movie_detail_img {
  float: left;
  width: 185px;
}

.movie_detail .movie_detail_info {
  float: right;
  width: calc(100% - 185px);
  box-sizing: border-box;
  padding: 0 20px;
}

.movie_detail .movie_detail_info p {
  line-height: 150%;
  font-size: 16px;
  margin-bottom: 20px;
  color: #bbb;
}

.movie_detail_info h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.movie_detail_info p {
  line-height: 1.3;
  font-size: 14px;
}

.article_list {
  width: 100%;
}

.article_item {
  width: 49%;
  float: left;
  margin-right: 2%;
  border: 1px solid #DCDCDC;
  background: #FFF;
  border-radius: 4px;
  margin-bottom: 30px
}

.article_item:nth-child(even) {
  margin-right: 0;
}

.article_item .article_item_img {
  width: 185px;
  float: left
}

.article_item .article_info {
  width: calc(100% - 185px);
  float: right;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.article_item .article_movie_title {
  margin: 0;
  font-size: 12px;
  color: #777;
}

.article_item .article_user_name {
  margin: 0;
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
}

.navbar {
  margin-bottom: 0 !important;
}

.profile {
  margin-top: 20px;
}

.mypage_article_item {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #DCDCDC;
  background: #FFF;
  border-radius: 4px;
}

.mypage_article_item .mypage_article_item_img {
  width: 185px;
  float: left;
}

.mypage_article_item mypage_article_item_img img {
  max-width: 100%;
}

.mypage_article_info {
  width: calc(100% - 185px);
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
}

.mypage_article_item .article_movie_title {
  margin: 0;
  font-size: 12px;
  color: #777;
}

.mypage_article_item .article_user_name {
  margin: 0;
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
}

.mypage_article_rank {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.show_article {
  width: calc(98% - 370px);
  float: left;
  background: #FFF;
  padding: 20px 40px;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
}

.show_article_title {
  font-size: 24px;
  line-height: 150%;
  padding-left: 20px;
  padding: 6px 0 6px 20px;
  border-left: 6px solid #333;
  margin-bottom: 20px;
}

.show_article_content {
  font-size: 16px;
  line-height: 160%;
  padding: 30px 30px 0;
  border-top: 1px solid #DCDCDC;
}

.contens{
  margin-top: 20px;
}

.show_article_sidebar{
  width: 370px;
  float: right;
  border: 1px solid #DCDCDC;
  padding: 20px;
  background-color: #FFF;
}

#chartbox{
  width: 100%;
}

.show_article_sidebar_title {
  font-size: 20px;
  margin: 0 0 20px;
  padding: 10px 0 10px 10px;
	border-left: 6px solid #ccc;
}
.show_article_sidebar_title:first-of-type{ margin-bottom: 0; }

.show_article_sidebar table{
  width: 100%;
}
.show_article_sidebar table th{
  padding: 4px 0;
  width: 60px;
  font-weight: normal;
  text-align: center;
  color: #555;
  vertical-align: top;
}
.show_article_sidebar table td:nth-child(2){
  width: 10px;
  text-align: center;
  vertical-align: top;
  padding: 4px 0;
}
.show_article_sidebar table td:last-child{
  padding: 4px 0 0 10px;
  line-height: 1.3;
  vertical-align: top;
}

/* Chat（Room）用 CSS */
/* ---------------------------------------------------------- */
html,body {
  height: 100%;
}
.fit_height { height: 100%; }
body{ padding-top: 50px; }
#room_warpper{
  width: 100%;
  height: 100%;
}
#room_contents{
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
  background: #fff;
}
.room_list{
  width: 360px;
  float: left;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, .20);
}
.room_list ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    overflow-y: scroll;
}
.room_list ul li{
    border-bottom: 1px solid rgba(0, 0, 0, .20);
}
.room_list ul li a{
    padding: 10px 20px;
    display: block;
    color: #888;
    overflow: hidden;
}
.room_list ul li a:hover{
    background-color: rgba(0, 0, 0, .05);
    text-decoration: none;
}
.room_list .room_list_title{
    margin: 0;
    height: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    padding-top: 20px;
}
.room_list > i{
    display: none;
}
.room_list ul li a .room_list_poster{
  width: 45px;
  float: left;
  margin-right: 20px;
}
.room_list ul li a .room_list_poster img{
  max-width: 100%;
  width: 100%;
}
.room_list ul li a .room_list_info{
    width: calc(100% - 45px - 20px);
    float: right;
}
.room_list ul li a .room_list_info .room_list_name{
    font-size: 16px;
    color: #333;
    margin: 0 0 5px;
}
.room_list ul li a .room_list_info .room_list_ago{
    font-size: 12px;
    color: #aaa;
    margin: 0;
}
.room_title{
    width:100%;
    margin: 0;
    line-height:1;
    padding-top: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
    height: 55px;
}
.chat_timeline{
  width: calc(100% - 360px);
  float: right;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.chat_timeline #messages{
  width: 100%;
  padding: 10px 15px 15px;
  height: calc(100% - (100px + 55px + 42px));  /*textareaとtitleの高さ*/
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat_textarea{
  width: 100%;
  position: absolute;
  bottom: 0;
}
.chat_textarea form{
  height: 100px
}
.chat_textarea textarea{
  width: 100%;
  height: 100px;
  resize: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgba(0, 0, 0, .20);
  border-bottom: 1px solid rgba(0, 0, 0, .20);
  padding: 10px;
}
.chat_textarea textarea:focus {
  outline: none;
}
.chat_textarea .chat_post_box{
  width: 100%;
  height: 42px;
  background: #FFF;
  border-top: 1px solid rgba(0, 0, 0, .20);
  box-sizing: border-box;
  padding: 0 15px;
}
.chat_post_box .chat_post_box_left{
  width: 50%;
  float: left;
}
.chat_post_box .chat_post_box_right{
  width: 50%;
  float: right;
  text-align: right;
}
.chat_post_box .chat_post_box_right .text_length{
  padding: 0 5px 0 0;
  color: #888;
  font-size: 12px;
}
.chat_post_box .post_btn{
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
    border-style: none;
    padding: 6px 14px;
    background: #0275d8;
    color: #FFF;
    border-radius: 3px;
    margin: 5px 0;
}
.chat_post_box .post_btn:active{
  outline: 0;
  background-color: #014c8c;
}
.chat_post_box .post_btn:focus{
  outline: 0;
}
.message_box{
  width: 100%;
}
.message p{
  margin: 0;
  padding: 0;
  line-height: 1.3;
}
.message{
  padding: 8px 18px;
  border-radius: 12px;
  background-color: #f1f0f0;
  display: inline-block;
  max-width: 100%;
}
.message a{
  color: #333;
  text-decoration: underline;
  word-break: break-all;
}
.message.mine{
  margin-top: 20px;
  float: right;
  background-color: #0084ff;
  color: #FFF;
}
.message.mine a{
  color: #FFF;
  text-decoration: underline;
}
.message a:hover, .message.mine a:hover{ opacity: 0.9; }
.message_user_name{
  margin-top: 20px;
  margin-bottom: 8px;
  line-height: 1;
  font-size: 12px;
  color: #777;
  text-align: left;
}


/* Article */
/* ---------------------------------------------------------- */
#article_warpper{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#article_new_contents{
  margin: 25px auto 0;
}
#article_new_contents .CodeMirror {
	height: 475px;
}
.article_edit_title{
  width: 100%;
  margin-bottom: 15px;
}
.article_edit_title input[type="text"]{
  display: block;
  width: 100%;
  height: auto;
  padding: 12px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.article_edit_content textarea{
  width: 100%;
}
.article_form_box{
  width: 100%;
}
.article_form_box .article_form_left{
  width: 72%;
  float: left;
}
.article_form_box .article_form_right{
  width: 26%;
  float: right;
}
.article_form_box .article_form_box{
  margin-bottom: 20px;
}
.article_form_slider{
  padding: 0 x;
}
.article_form_title{
  padding: 15px 0;;
  text-align: center;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  position: relative;
  margin: 0 0 20px;
}
.article_form_title::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}
.article_form_box .ui-widget-content .ui-state-default{
  background-color: #337ab7;
  outline: 0;
}
.article_form_box .ui-widget-content .ui-state-active{
  outline: 0;
  border-color: #2e6da4;
}
.article_slider_box > div{
  margin: 0 20px 15px;
}


/* pagenation */
/* ---------------------------------------------------------- */
.pagination{
  width: 100%;
  text-align: center;
}
.pagination span.current{
    display: inline-block;
    padding: 6px 12px;
    background-color: #353535;
    color: #FFF;
}
.pagination a{
    display: inline-block;
    padding: 6px 12px;
    color: #353535;
    background-color: #FFF;
    transition: 0.3s;
}
.pagination a:hover{
    background-color: #353535;
    color: #FFF;
    text-decoration: none;
}


/* Smartphone */
/* ---------------------------------------------------------- */
@media only screen and (max-width: 690px) {
  .article_item{
    width:100%;
    float: none;
  }
  .movie_item{
    width:100%;
    float: none;
  }
  .movie_item .movie_item_img {
    width: 100%;
    float: none;
    text-align: center;
    padding-top: 10px;
  }
  .movie_item .movie_item_info {
    width: 100%;
    float: none;
  }
  .cover .cover-inner .cover-contents h1{
    font-size: 32px;
  }
  .article_item .article_item_img{
    width:100%;
    text-align: center;
    float: none;
    background: #000;
  }
  .article_item .article_info {
    width: 100%;
    float: none;
    padding-bottom: 10px;
  }
  .mypage_article_item .mypage_article_item_img {
    width: 100%;
    float: none;
    text-align: center;
    background: #000;
  }
  .mypage_article_item .mypage_article_info{
    width: 100%;
    float: none;
    padding-bottom: 10px;
  }
  .movie_detail .movie_detail_img {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .movie_detail .movie_detail_info{
    width:100%;
    float: none;
  }
  #article_new_contents {
    margin: 25px auto 50px;
  }
  .article_form_box .article_form_left{
    width: 100%;
    float: none;
    padding: 0 4%;
    margin-bottom: 30px;
  }
  .article_form_box .article_form_right{
    width: 100%;
    float: none;
    padding: 0 4%;
    margin-bottom: 40px;
  }
  .show_article{
    width: 94%;
    margin: 0 auto 10px;
    float: none;
  }
  .show_article_sidebar{
    width: 94%;
    margin: 0 auto;
    float: none;
  }
  .room_list {
    width: 74px;
  }
  .room_list ul{
    height: auto;
  }
  .chat_timeline{
    width: calc(100% - 74px);
  }
  .room_list ul li a {
    padding: 10px 0;
  }
  .room_list_info{ display: none; }
  .room_list ul li a .room_list_poster{
    float: none;
    margin: 0 auto;
  }
  .room_list ul li { border-bottom: none; }
  .room_list .room_list_title{ display: none; }
  .room_list > i{
    display: block;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
    text-align: center;
    line-height: 55px;
  }
  .room_title {
    line-height: 55px;
    padding-top: 0; 
    text-align: center;
    font-size: 100%;
  }

}



/* Tablet */
/* ---------------------------------------------------------- */
@media only screen and (min-width:691px) and (max-width:1199px) {
  .article_item{
    width:100%;
    float: none;
  }
  .movie_item{
    width:100%;
    float: none;
  }
}
